AddDefaultCharset UTF-8
AddCharset UTF-8 .md .txt .json .xml
AddType text/markdown .md
AddType text/plain .txt
AddType application/json .json

RewriteEngine On
RewriteBase /
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]
